body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #534563;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#title {
    color: #dcc7ff;
    font-size: 50px;
    text-align: center;
}

#game-over {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 15vh;
    letter-spacing: 5px;
    line-height: 1;
    color: #ff2121;
    display: none;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 10vw;
}

#snake-canvas {
    background-color: rgb(141, 141, 141);
    border: 5px solid rgb(54, 54, 54);
    border-radius: 5px;
}

.grid {
    background-image:
        repeating-linear-gradient(#ccc 0 1px, transparent 1px 100%),
        repeating-linear-gradient(90deg, #ccc 0 1px, transparent 1px 100%);
    background-size: 20px 20px;
}

#score-container {
    border: 3px solid gray;
    border-radius: 10px;
}

.score-card {
    min-width: 100px;
    max-width: 200px;
    width: 15vw;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: rgba(255, 145, 0, 0.315);
    margin: 5px;
}

.score-card p {
    justify-content: center;
    align-items: center;
}

.score-card-info {
    color: #dcc7ff;
}

.score-card-title {
    border: 1px solid yellow;
    border-radius: 5px;
    background-color: #ffc06e9a;
}

.score-card-title h3 {
    margin: 5px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex {
    display: flex;
}
